<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "site5" %>
    <%= javascript_include_tag "jqueryv3-3-1" %>
    <%= javascript_include_tag "siteNew-3" %>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

  </head>
  <body>
    
    <div id="main" role="main">
      <%= partial "partials/nav" %>  
      <div class="project-page-wrapper">
        <div id="img-content" class="mosaic">
          <% Dir.glob("source/images/#{current_article.data.imgloc}/*.jpg").each do |image| %>
              <%= image_tag("#{current_article.data.imgloc}/#{image.split('/').last}", :class => "grid-item") %>
          <% end %>
        </div>
        <div class="closeSiema"></div>
        <div class="lightbox">
            <div class="lightbox-bck"></div>
            <div class="img-wrapper"></div>
        </div>
          <div class="project-page-article">
            <h1><%= current_article.title %></h1>
            <%= yield %>
          </div>
          <aside>
            <% blog.articles[0...5].each do |article| %>
              <% if article != current_article %>
                <h3>
                  <%= link_to article.title, article.url %>
                  <span class="date">- <%= article.date.strftime('%b %e') %> </span>
                </h3>
              <% end %>
            <% end %>
          </aside>
      </div>
    </div>
  </body>
  
</html>
